@import "partials/settings.scss";
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);

@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/top-bar';
@import 'foundation/components/visibility';

//background-color: #A74222;
// font #88898C;

html, body,{
  background-image: url("/assets/bg.jpg");
  height: 100%;
}

.main{
  height:100%;
}

.top{
  background-color: white;
  width: 100%;
  height: 80px;
  background-image: url("/assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;

  h1{
    background-image: url("/assets/header_bg.svg");
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
  }

}
.nav{
  background-color: #3A3A3C;
  width: 100%;
  color: white;
  text-align: center;
  display: block;
  padding: 10px;

  a{
    display: inline;
    &:nth-child(n+2):before {
    display: inline-block;
    margin: 5px;
      content: '•';
    }
    &:link{
      color:white;
      text-decoration: none;
    }
    &:visited{
      color:white;
      // color:#FF4200;
      text-decoration: none;
    }
    &:hover{
      color:#FF4200;
      text-decoration: none;
    }

  }

}

.content{
  width:800px;
  margin:auto;
  padding-top: 20px;
  padding-bottom: 20px;


  .wrapper{
    max-width: 800px;
    border:1px solid white;
    background: white;
    padding:20px;
    margin:auto;
    &:hover{
      border:5px solid orange;
    }

    img{
      border:1px solid black;
      margin:auto;
    }
  // @media #{$small}{
  //   width: 100%;
  // }
  }
}




//============== footer ============
.main{
  // min-height: 100%;
  // margin-bottom: -142px;
  // margin: 0;
}
// .main:after{
//   content: "";
//   display: block;
//   // margin:0;
// }
.footer, .main:after {
  // height:50px;
  // margin:0;
}

.footer{
  background: grey;
  width:100%;
  margin: auto;

}